@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(230, 230, 230);
}



.bg-img{
  background-image: url("../images/copy.jpg");
  min-height: 190px;
  position: relative;
  background-repeat: no-repeat;
  background-size:cover ;
}

.filterform{
  background-image: url("https://img.freepik.com/premium-photo/work-progress-concept-spotlight-isolated_172429-1269.jpg?w=996");
background-repeat: no-repeat;
background-size:cover  ; 

}
.filterform:hover{
  box-shadow: -1px -1px 5px 5px orange; 
}


.map-container {
  height: 750px;
  width: 750px;
}
.login:hover{
  box-shadow: -1px -1px 5px 5px #555492; 

}